---
layout: default
title: Web Apps Index
---

<div class="container-fluid">
    <div class="d-flex justify-content-between align-items-center">
        <div>
            <h3>{{ page.title }}</h3>
        </div>
        <div>
            <span>
                <a href="https://github.com/sanjaysingh/staticsites/blob/master/index.html">Edit this page</a>
            </span>
        </div>
    </div>
    <hr />
    <div id="pages">
        <!-- Debug information -->
        <h4>All static files:</h4>
        <ul>
        {% for file in site.static_files %}
            <li>Path: {{ file.path }}</li>
        {% endfor %}
        </ul>

        <h4>Filtered pages:</h4>
        <ol>
        {% for file in site.static_files %}
            {% if file.path contains 'index.html' and file.path != '/index.html' %}
            <li>
                {% assign folder = file.path | split: '/index.html' | first %}
                <a href="{{ folder }}">{{ folder | remove: '/' }}</a>
                (Path: {{ file.path }})
            </li>
            {% endif %}
        {% endfor %}
        </ol>
    </div>
</div>
