<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ethereum Util</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" />
    <link rel="stylesheet" href="styles.css" />
</head>

<body>
    <div id="app">
        <div class="top-bar">
            <div class="item" style="display: flex; align-items: center;">
                <span class="headerText">Ethereum Util</span>
            </div>
            <a id="connect-button" class="connect-link" v-text="connectButtonText"></a>
        </div>

        <div class="ui container">
            <div class="ui form">
                <div class="field">
                    <label>Templates</label>
                    <select v-model="selectedTemplate">
                        <option v-for="templateStatement in templateStatements" :key="templateStatement.value" :value="templateStatement.value">{{ templateStatement.label }}</option>
                      </select>
                </div>
                <div class="field">
                    <label>Statement to execute</label>
                    <textarea v-model="statement" type="text" placeholder="Enter statement to execute"></textarea>
                </div>
                <button class="ui primary button" @click="execute">Execute</button>
                <p>
                <textarea v-model="result" readonly></textarea>
            </div>
        </div>
        
        
        <div id="message-panel" v-if="showMessagePanel" :class="messagePanelClass">{{ messagePanelText }}</div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://cdn.ethers.io/lib/ethers-5.2.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
    <script src="app.js"></script>
</body>

</html>