<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Timed Locker</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" />
    <link rel="stylesheet" href="styles.css" />
</head>

<body>
    <div id="app">
        <div class="top-bar">
            <div class="item" style="display: flex; align-items: center;">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-clock" width="24" height="24" style="margin-right: 10px;">
                    <circle cx="12" cy="12" r="10"></circle>
                    <polyline points="12 6 12 12 16 14"></polyline>
                </svg>
                <span class="headerText">Timed Locker</span>
            </div>
            <a id="connect-button" class="connect-link" v-text="connectButtonText"></a>
        </div>

        <div class="ui container">
            <div class="ui top attached tabular menu">
                <a class="item active" data-tab="locker">Beneficiary</a>
                <a class="item" data-tab="deposit">Deposit</a>
                <a class="item" data-tab="withdraw">Withdraw</a>
            </div>
            <div class="ui bottom attached tab segment active" data-tab="locker">
                <div class="ui form">
                    <div class="field">
                        <label>Designated Locker Address</label>
                        <input v-model="locker" type="text" placeholder="Enter locker address">
                    </div>
                    <button class="ui primary button" @click="addDesignatedLocker">Add Locker</button>
                    <button class="ui negative button" @click="removeDesignatedLocker">Remove Locker</button>
                </div>
            </div>
            <div class="ui bottom attached tab segment" data-tab="deposit">
                <div class="ui form">
                    <div class="field">
                        <label>Beneficiary Address</label>
                        <input v-model="beneficiary" type="text" placeholder="Enter beneficiary address">
                    </div>
                    <div class="field">
                        <label>Unlock Timestamp</label>
                        <input type="datetime-local" v-model="localUnlockTimestamp" required>
                    </div>
                    <div class="field">
                        <label>Deposit Amount (ETH)</label>
                        <input v-model="depositAmount" type="text" placeholder="Enter deposit amount">
                    </div>
                    <button class="ui primary button" @click="deposit">Deposit</button>
                </div>
            </div>

            <div class="ui tab segment" data-tab="withdraw">
                <div class="ui form">
                    <button class="ui primary button" @click="withdraw">Withdraw</button>
                </div>
                <table class="ui celled striped table unstackable">
                    <thead>
                        <tr>
                            <th>Locker</th>
                            <th>Beneficiary</th>
                            <th>Value (ETH)</th>
                            <th>Unlock Timestamp</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(lock, index) in lockedFundsByBeneficiary" :key="index">
                            <td>{{ lock.locker }}</td>
                            <td>{{ lock.beneficiary }}</td>
                            <td>{{ formatValue(lock.value) }}</td>
                            <td>{{ new Date(lock.unlockTimestamp * 1000).toLocaleString() }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="help-text">
                Note: You can use this UI to interact with <a href="https://etherscan.io/address/0x17217838A687F4d980D6Bc4b2Ea112cCB79D7fE6">Timed Locker</a> smart contract. Think of this app as deposit safe where you park some Eth with a time lock either for yourself or somebody else. You can always lock for yourself. You can only lock for others when they have designated you as a locker.
                Current supported mainnet networks are Ethereum, Arbitrum One, Optimism, and Polygon POS and Polygon ZkEvm. Supported testnets are Goerli and Sepolia.
            </div>
        </div>
        
        
        <div id="message-panel" v-if="showMessagePanel" :class="messagePanelClass">{{ messagePanelText }}</div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ethers/5.7.2/ethers.umd.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="app.js"></script>
</body>

</html>